@page
@model PersonalDataModel
@{
    ViewData["Title"] = "个人数据";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>您可以在此销毁账号</p>
        <p>
            <strong>账号销毁后不可恢复，请谨慎操作！</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">销毁</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}