@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "权限不足";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">您没有权限访问当前页面，请联系管理员授权身份信息并完善信息！</p>
</header>
